@if swmmobile.css pretty {
	@external indexedScrollPanel, indexPanel, indexHeaderListItem;	
}

.indexedScrollPanel {
	-ms-flex-align: start !important;
}

.indexPanel {
	position: absolute;
	z-index: 1;
	right: 0;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background: rgba(1, 1, 1, 0.2);
	padding-left: 8px;
	margin-top: 4px;
	margin-right: 4px;
	\-webkit-border-radius: 8px;
	\-webkit-box-align: center;
	font-size: 0.5em;
	color: #D2D2D2;
	font-weight: bold;

	border-radius: 8px;
	/* "-ms-flex-align:center" not required */
}

.indexHeaderListItem {
    color: white;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, 0.8) 0 -0.1em 0.1em;
	font-size: 0.7em;
	font-weight: bold;
	color: white !important;
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#014A23), to(#01B601))') !important;

	background-image: literal('linear-gradient(to bottom, #014A23 0%, #01B601 100%)') !important;
}
