@if swmmobile.css pretty {
	@external accordion, disabled, gwt-Label, pressed, collapse, expand, buttonLightLeftText;
}

@external buttonLightLeftText, gwt-Label, disabled;

/* stack */
.accordion > div {
    border: 2px solid #004180;
}

 /* header */
.accordion > div > div:first-child {
	display:\-webkit-box;
	\-webkit-box-orient: horizontal;
	\-webkit-box-align: center;
	cursor: pointer;
	padding:.5em .5em .5em 0em;
	background: #ffffff;
}

.accordion > div > div:first-child.pressed {

}

.accordion > div:first-child > div:first-child {
	border-top:0;
}

.accordion > div:last-child.collapse > div:first-child {
	border-bottom:0;
}

/* content */
.accordion > div > div:last-child {
	overflow: hidden;
	padding:.5em;
	color: black;
	background: #ffffff;
	\-webkit-transition-property: height;
	\-webkit-transition-duration: 200ms;
	\-webkit-transition-timing-function: ease;
}

/* content */
.accordion > div:last-child.expand > div:first-child {
    border-bottom: 1px solid #004180;
}

.accordion > div:last-child.expand > div:last-child > .buttonLightLeftText {
    background: #ffffff;
    border: 1px solid #004180;
    color: black;
}

.accordion > div:last-child.collapse > div:last-child > .buttonLightLeftText {
    background: #ffffff;
    border: 1px solid #004180;
    color: black;
}

.accordion > div:last-child.expand > div:last-child > .buttonLightLeftText.pressed {
    background: #004180;
    color: black;
}

.accordion > div.collapse > div:last-child {
	padding-top: 0;
	padding-bottom: 0;
	height: 0 !important;
}

.accordion > div .gwt-Label {
    color: black;
}

.accordion > div.disabled .gwt-Label {
    color: gray;
}

.accordionArrow {
	border: .4em solid #004180;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	height: 0.001em;
	width: 0.001em;
	margin-left: .5em;
}

.accordionArrowInvisible {
	height: 0.001em;
	width: 0.001em;
	margin-left: 1.5em;
}

.accordion > div.expand > div > .accordionArrow {
	position: relative;
	top: .3em;
	left: -.2em;
    border-top-color: #004180;
	border-left-color: transparent;
}
