@if swmmobile.css pretty {
	@external button, bigbutton, pressed, buttonLightLeftText, backButton, pointer, hidden, nextButton, disabled, imageButton;
}

.button {
	color: white;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 0.6em 0.7em 0.7em 0.7em;
	\-webkit-border-radius: 0.3em;
    background: #004180;
    border: solid 1px white;
	height:1em;	
	text-align: center;
}

.bigbutton {
	color: white;
	text-decoration: none;
	display: block;
	padding: 0.3em 0.5em 0.5em 0.5em;
	\-webkit-border-radius: 0.3em;
    background: #004180;
    border: solid 0px rgba(79, 79, 79, 0.75);
	height:2em;
	text-align: center;
}

.buttonLightLeftText {
	color: white;
	text-decoration: none;
	display: block;
	padding: 0.3em 0.5em 0.5em 0.5em;
    background: #004180;
    border: solid 0px rgba(79, 79, 79, 0.75);
	height:1em;
	text-align: left;
}

.buttonLightLeftText.pressed {
    background: literal('-webkit-linear-gradient(top, #005eb5, #004180)');
}

.bigbutton.pressed {
    background: literal('-webkit-linear-gradient(top, #005eb5, #004180)');
}

.button.pressed, .backButton.pressed > span.button, .nextButton.pressed > span.button {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(140,160,203)),color-stop(0.49, rgb(54,98,168)),color-stop(0.51, rgb(26,78,156)),color-stop(1, rgb(0,118,196)));
}


.backButton {
	position: relative;
	margin-left: 0.8em;
}

.backButton > span.button {
	padding-left: 0;
	\-webkit-border-top-left-radius: 0;
	\-webkit-border-bottom-left-radius: 0;
	border-left: 0 !important;
}

.backButton > span.pointer {
	position: absolute;
	display: block;
	height: 1.566em;
	width: 1.692em;
	left: -0.84em;
	top: 0.40em;
	border-top: 0;
	border-right: 0;
    background: #004180;
    \-webkit-transform: rotate(45deg);
	z-index: -1;
}

.backButton.pressed > span.pointer {
    background: literal('-webkit-linear-gradient(top, #005eb5, #004180)');
}

.backButton.hidden {
	display: none;
}


.nextButton {
	position: relative;
	margin-right: 0.8em;
}

.nextButton > span.button {
	padding-right: 0;
	\-webkit-border-top-right-radius: 0;
	\-webkit-border-bottom-right-radius: 0;
	border-right: 0 !important;
}

.nextButton > span.pointer {
	position: absolute;
	display: block;
	height: 1.3em;
	width: 1.3em;
	right: -0.65em;
	top: 0.25em;
	border-top: 0;
	border-left: 0;
    background: #004180;
    \-webkit-transform: rotate(45deg);
	z-index: -1;
}

.nextButton.pressed > span.pointer {
    background: literal('-webkit-linear-gradient(top, #005eb5, #004180)');
}

.button.disabled {
	color: black;
}

.imageButton {
	text-decoration: none;
	display: block;
	padding: 0.1em 0.3em 0.0em 0.3em;
	\-webkit-border-radius: 0.3em;
    background: #004180;
    border: solid 0px rgba(79, 79, 79, 0.75);
	\-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: -webkit-box;
	\-webkit-box-align: center;
	\-webkit-box-pack: center;
}

.imageButton.pressed {
    background: literal('-webkit-linear-gradient(top, #005eb5, #004180)');
}

.imageButton > img {
	\-webkit-user-select: none;
	border-style: none;
	outline: none;
}

.imageButton > div {
	color: white;
	\-webkit-box-align: center;
	padding-left: 0.3em;
}
