@if swmmobile.css pretty {
	@external commandPanel, pressed, disabled, gwt-Label, commandDropDown, hidden;
}

@external gwt-Label;

.commandPanel {
	display: \-webkit-box;
	\-webkit-box-orient: horizontal;
	background: white;
	position: relative;
	z-index: 1;
}

/** CommandItem **/
.commandPanel > div {
	font-size: 0.8em;
	padding: 4px;
	\-webkit-box-flex: 1;
	display: -webkit-box;
	border: 1px solid #004180;
	padding-top: 10px;
	padding-bottom: 10px;
	\-webkit-box-orient: vertical;
	\-webkit-box-align: center;
	\-webkit-box-pack: center;
    text-align: center;
}

/** CommandItem **/
.commandPanel > div > .gwt-Label {
    text-align: center;
}

/** CommandItem wenn es gedrückt wird **/
.commandPanel > div.pressed {
	background: rgb(202, 229, 254);
}

/** Deaktiviertes CommandItem **/
.commandPanel > div.disabled {
	color: gray;
}

/** Deaktiviertes CommandItem **/
.commandPanel > div.disabled {
	background: #E6E6E6;
}

/** Deaktiviertes CommandItem **/
.commandPanel > div.disabled .gwt-Label {
	color: grey;
}

.commandPanel > div .gwt-Label {
    color: black;
}

.commandDropDown {
	display: -webkit-box;
	\-webkit-box-flex: 1;
}

.commandDropDown > select {
	\-webkit-appearance: none;
	background-color: rgba(255, 255, 255, 0);
	background-position: top;
	background-repeat: no-repeat;
	font-size: 1.7em;
}

.commandDropDown > select.hidden {
	color: rgba(255, 255, 255, 0);
}

.commandDropDown > select:focus {
	outline: 0;
	outline: none;
}