@if swmmobile.css pretty {
	@external flex, modify;
}

.flex > div {
    display: table;
    width: 100%;
}

.listPanel.flex > div {
    display: table;
    width: 95%;
}

.flex > div > * {
	vertical-align: middle;
	display: table-cell;
}

.flex > div > *:first-child {
	text-align: right;
	padding-right: 1em;
	width: 40%;
}

.flex > div > *:last-child {
	width: 90%;
}

.modify > div > div {
	\-webkit-box-flex: 1;
	margin: 0 .5em 0 .5em;
}