@if swmmobile.css pretty {
	@external marker-popup-panel-parent, marker-popup-panel-content, marker-popup-panel-indicator-down, marker-popup-panel-indicator-up, marker-popup-image, pressed, zoom-control-panel, shadow-top, shadow-bottom, gwt-Label, gwt-HTML;
}

@external gwt-Label, gwt-HTML;

.marker-popup-panel-parent {
	position: absolute;
	\-webkit-box-align: center;
	z-index: 500;
}

.marker-popup-panel-content {
	background: rgba(0, 0, 0, 0.6);
	padding: 4px;
	border-radius: 5px;
}

.marker-popup-panel-content.shadow-top {
	\-webkit-box-shadow: 6px -6px 10px 0px #222;
}

.marker-popup-panel-content.shadow-bottom {
	\-webkit-box-shadow: 6px 6px 10px 0px #222;
}

.marker-popup-panel-content .gwt-Label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 11em;	
}

.marker-popup-panel-indicator-down {
	width: 23px;
	height: 14px;
	border-width: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAAAo0lEQVR42mNgYGCIBOKpUDwNiKcj4RlIeCaJOAqIGZiBuIQMzfhwMRAzMUABDxC3UslgkDncDGhACognUmjwJKg5WIEemeE7E6pPn4EAcCfTcC8GIkEiiQanMpAAWIC4nEiDq4GYlYFEwAfEHQQM7gZiQQYygTwQT8FhMCjTKTNQCExxGG7DQCUQgGZwBAMVASMQZ0ENLkTO2tQCHFALuInVAACyl2AHl9vQbAAAAABJRU5ErkJggg==) no-repeat 0px 0px;
}

.marker-popup-panel-indicator-up {
	width: 23px;
	height: 14px;
	border-width: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAAAqElEQVR42mNgIB5wAHEWEHMzUBkwQg2eCcSFQMxETcMDoAbDcAS1DDZFMxiGbSg1WB6Ip+AwfCoQK5NrMB8Qd+AwGIa7gViQVINZgLicgMEwXA3ErKQYnkikwTCcSqzB7iQaDMNehAzWA+IZZBoO0qePy2ApIJ5IpsEwPAlqDgrgAeJWCg2G4VbkIoIZiEuoZDAMF8OKiEhohgDhaUA8HQnPQMKkWhAFAKjpYAdcv5uRAAAAAElFTkSuQmCC) no-repeat 0px 0px;
}

.marker-popup-image {
	padding: 1px;
	border-radius: 0.3em;
}

.marker-popup-image.pressed {
	\-webkit-box-shadow: white 0em 0em 0.4em;
}

.zoom-control-panel {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1000;
	font-size: 2em;	
}

.zoom-control-panel .gwt-HTML {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	margin: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}


