@if swmmobile.css pretty {
@external gwt-Label, bottomPanel, dialogAnimationContainer-center, closeLink;
}

@external gwt-Label, bottomPanel, dialogAnimationContainer-center;

.bottomPanel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#53a9e8), to(#2e76cd))');
    border-top: 3px solid white;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
}

.bottomPanel div.gwt-Label {
    color: white;
}

.dialogAnimationContainer-center {
    \-webkit-box-orient: horizontal;
    \-webkit-box-pack: center;
    \-webkit-box-align: center;
}

.closeLink {
    float:right;
    cursor:pointer;
    color: #fff;
    border: 3px solid white;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 14px 7px 18px;
    margin-top: -30px;
    position: relative;
    z-index: 11;
}

.closeLink:before {
    content: "x";
}

.closeLink:hover {
    color: white;
    text-decoration: none;
}