@if swmmobile.css pretty {
	@external textBox, textArea, focus, decoratedTextBox, decoratedTextBoxIcon, decoratedTextBoxInput,
	decoratedSuggestBox, decoratedSuggestBoxIcon, decoratedSuggestBoxInput, suggestPopupContent, item, item-selected,
	decoratedTextBoxCaption, decoratedTextBoxVPanel, decoratedTextBoxHPanel;
}

.textBox {
	padding: .4em;
	border: 1px solid black;
	\-webkit-appearance: none;
	font: normal 1.0em Helvetica, Arial, sans-serif;
}

.textArea {
    padding: .4em;
    border: 1px solid black;
    \-webkit-appearance: none;
    overflow: hidden;
    outline: none;
    font: normal 1.0em Helvetica, Arial, sans-serif;
    resize: none;
}

.textBox.focus, .textArea.focus {
	border: 3px solid #004180;
    box-shadow: none;
}

.textBox.error, .textArea.error {
    border: 3px solid red;
    box-shadow: none;
}

.decoratedTextBox {
}

.decoratedTextBoxCaption {
	color: black;
}

.decoratedTextBoxVPanel {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
}

.decoratedTextBoxHPanel {
	\-webkit-box-pack: start;
	\-webkit-box-orient: horizontal;
	display: -webkit-box !important;
	display: block;
}

.decoratedTextBoxIcon {
	z-index: 1;
	display: \-webkit-box;
}

.decoratedTextBoxInput {
	width: 100%;
	padding-right: 1.4em;
	font-size: 1em;
}

.decoratedSuggestBox {
}

.decoratedSuggestBoxIcon {
	z-index: 1;
	display: \-webkit-box;
}

.decoratedSuggestBoxInput {
	width: 100%;
	padding-right: 1.4em;
	font-size: 1em;
}

.suggestPopupContent {
	font-size: 1em;
	text-align: left;
	border: 1px solid #666;
	border-top: 0;
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142))');
	\-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0em 0.2em 0.2em;
}

.suggestPopupContent .item {
	padding: 0.4em;
}

.suggestPopupContent .item-selected {
	text-shadow: darkgreen 0 -0.1em 0.1em;
	background: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(lightgreen), color-stop(0.5, #298C08), color-stop(0.5, darkgreen), to(darkgreen))');
}